@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

:root {
    // fonts
    --font-global: 'Open Sans', sans-serif;

    // Colors
    
}

$display-global: flex;
$flex-dir-col: column;
$align-item-cen: center;