

.currentTimeContainer{
    position: absolute;
    top: 29px;
    left: 35px;
    height: auto;
    width: 24px;
}

.currentTimeFont {
    font-size: 8px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-align: right;
    
}