.displayLargeContainer{
    position: absolute;
    top: 121px;
    left: 38px;
    height: auto;
    width: 180px;
}

.displayLargeFont {
    margin: 0;
    color: #FFFFFF;
    font-size: 47px;
    font-weight: 300;
    text-align: right;
}