@import "./scss/abstracts/variable";

.App {
    height: 100vh;
    display: $display-global;
    flex-direction: $flex-dir-col;
    align-items: $align-item-cen;
    justify-content: $justify-content;
}